<div class="share_listing">
  <div class="header">
    <span class="title"><%= link_to share_listing.link.title, share_path(share_listing.id) %></span>
    <span class="domain">(<%= share_listing.link.domain %>)</span>
  </div>
  <br clear="all" />

  <div class="footer">
    Shared by <span class="username">
    <% if share_listing.link.submitter == current_user %>
      Me
    <% else %>
      <%= share_listing.link.submitter.name %> 
    <% end %>  
    </span> <%= time_ago_in_words(share_listing.submitted_time) %> ago
  </div>

</div>

<br clear="all" />
<br />