body {
    background: #E0FFCE;
    font-family: sans-serif;
}

h1 {
    font-size: 1.5em;
    padding-bottom: 5px;
}

hr {
    border: 1;
    width: 80%;
}

a {
    text-decoration: none;
    color: #88AAFF;
}

a:hover {
    text-decoration: underline;
    color: #88AAFF;
}

.dark_link {
    text-decoration: underline;
    color: #000;
}

.dark_link:hover {
    text-decoration: none;
    color: #000;
}

#main {
    background: #FCFCFC;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
}


#header {
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    padding-top: 0.5em;
    padding-bottom: 0.2em;
    padding-left: 5%;
    padding-right: 5%;
    
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5em;
    
    background-color: #98FB98;
}

#logo {
    float: left;
}

#user_status {
    float: right;
}

span.username {
    font-weight: bold;
}


#yield {
    padding: 20px;
    padding-top: 5px;
}



/* Comment-specific code should get moved. */

#comments {
}

.comment {
    float: left;
}
 
.comment .byline {
    font-size: 0.8em;
    color: #999;
    float: left;
    padding-top: 3px;
    padding-bottom: 3px;
}
