<h1>Settings</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <div id="email_preferences">
    <h3>Email Preferences</h3>
    <p>Send me an email when:
      <ul>
        <li><%= f.check_box :share_notifications %> Someone shares a link with me</li>
      </ul>
    </p>
  </div>
  
  <p>
    <%= f.submit 'Save Settings' %>
  </p>
<% end %>

<%= link_to 'Back to My Links', shares_path %>