<div id="home_blurb">
  <h1>You're almost there...</h1>
  
  <p>You have <%= user.shares.count %> links waiting for you from <%= @names %></p>. We just need a couple more pieces of information.</p>
  
</div>

<div class="vertical_line"></div>

<div id="home_sign_up">
  <%= render :partial => "sign_up", :locals => {:user => @user, :finish_registration => true} %>
</div>

<br clear="all" />