<div id="application_blurb">
  <h1>What's A-List?</h1>

  <p>A-List lets you share and discuss links with your friends.</p>

  <p>A-List allows you to:
    <ul>Notify multiple friends at once that you found an interesting link</ul>
    <ul>See when (or if) your friends read your link</ul>
    <ul>Discuss the link with your friends</ul>
  </p>

</div>