<div id="header">
  <div id="logo">
    <a href="/" id="title">A-List</a>
  </div>
  
  <div id="user_status">
    <% if current_user %>
      <p>
        <span class="username"><%= current_user.name %></span><br />
        <span class="links"><%= link_to "Share a Link", new_link_path, :class => "dark_link" %> | <%= link_to "Log Out", log_out_path, :class => "dark_link" %></span>
      </p>
    <% else %>  
      <p>Already a user? <%= link_to "Log In", log_in_path, :class => "dark_link" %></p>
    <% end %>
  </div>
  
  <br clear="all" />
</div>