<p>
  Hi<%= !@share.recipient.first_name.nil? ? " " + @share.recipient.first_name : "" %>,
</p>

<p>
  <%= @share.link.submitter.name %> shared <%= link_to q(@share.link.title), share_url(@share.id) %> with you. Check it out.
</p>
